<!DOCTYPE html>
<html>
<head>
  <title>Bookers2-3</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
  <%= render partial: 'layouts/header_login' %>
  <% else %>
  <%= render partial: 'layouts/header_logout' %>
  <% end %>

  <%= yield %>
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
</html>
